* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    font-size: 10px;
}

body {

    font-family: Times New Roman;
    font-size: 2rem;
    line-height: 6rem;
    color: #000000;

}


:root {
--main-bg-color: #FE1A19; 

}

.header {

	height: 6rem;
	/*width: 1440px;*/
	background-color: var(--main-bg-color);
}

.header-text {

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: white; 
    line-height: 6rem;
    margin-left: 2rem;
    font: inherit;

}

.main-content {

    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.first, .second, .third {
    
    width: 40rem;
    height: 80rem;
	border: .5rem solid #E5E000;
    box-sizing: border-box;
    border-radius: 3rem;
    display: inline-block;
    vertical-align: top; 
    padding: 3rem;
    margin: 1rem 1rem 1rem 1rem;

}

.receipe, h3 {

    font-family: Times New Roman;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    
}

h2 {

	font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 2rem;


}

.list {

	padding-bottom: 2rem;
    list-style-type: none;
}

.footer  {

    height: 6rem;
    background-color: var(--main-bg-color);

}

.footer-text {

    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    color: white; 
    line-height: 6rem;
    margin-left: 2rem;
    font: inherit;

}