* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


header {

	height: 140px;
	width: 100%;
    background-color: white;
    position: fixed;

}

h1 {

	font-family: Arial;
    font-size: 50px;
    line-height: 57px;
    color: #E50043;
    margin-left: 50px;
    margin-top: 50px;


}

.links {

	text-align: right;
	margin-right: 50px;
}





