.heading h1 {
	text-align: center;
	text-transform: lowercase;
	text-decoration: underline;
	text-shadow: 5px 5px 10px pink;
	letter-spacing: 3px;
	color: blue;

}

.paragraph p {
	line-height: 30px;
	letter-spacing: 3px;
}